
.vs
#.vscode
*.so
*.o
.DS_Store
*pyc

*.pth
# *.jpg
# *.png
# *.jpeg
*.mp4
*.avi
*.flv
*.dll
*.exp
*.lib
build
build_*
*.engine
*.onnx
# thirdparty

# !assets/01.png
# !assets/02.png
# !assets/dog.png
# !assets/person.webp

# *.json
__pycache__
__pycache__/*
.idea
.vscode
